{{!-- <section class="showcase">
    <div class="container">
        <div class="pb-2 mt-4 mb-2 border-bottom">
            <h2>Build a CRUD Operations with Node JS, Express, and MongoDB <a class="btn btn-info float-right btn-sm" href="/blog"><i class="fa fa-plus"></i> Create New</a></h2>
        </div>

        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Full Name</th>
                            <th>Post Title</th>
                            <th>Post Tags</th>
                            <th>Post Category</th>
                            <th>Blog Post</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each bloglist}}
                        <tr>
                            <td>{{this.full_name}}</td>
                            <td>{{this.post_title}}</td>
                            <td>{{this.post_tags}}</td>
                            <td>{{this.post_category}}</td>
                            <td>{{this.blog_post}}</td>
                            <td>
                                <a href="/blog/{{this._id}}"><i class="fa fa-edit" aria-hidden="true"></i></a>
                                <a href="/blog/delete/{{this._id}}"
                                    onclick="return confirm('Are you sure to delete this record ?');"><i
                                        class="fa fa-trash" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section> --}}

{{>navbar}}
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

<!-- Header -->
<header class="w3-container w3-center w3-padding-32"> </header>
<header class="w3-container w3-center w3-padding-24"> 
  <h1><b>MY BLOG</b></h1>
  <p>Welcome to the blog of <span class="w3-tag">unknown</span></p>
</header>

<!-- Grid -->
<div class="w3-row">
            {{#each bloglist}}
            <!-- Blog entries -->
            <div class="w3-col l6">
              <!-- Blog entry -->
              
              <div class="w3-card-4 w3-margin w3-white">
              <img src="/static/images/woods.jpg" alt="Norway" style="width:100%">
                <div class="w3-container">
                  <h3><b>{{this.full_name}}</b></h3>
                  <h5>{{this.post_title}} <span class="w3-opacity">April 2, 2014</span></h5>
                </div>

                <div class="w3-container">
                  <p>{{this.blog_post}}</p>
                   <div class="w3-row">
                    <div class="w3-col m8 s12">
                      <p><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></p>
                    </div>
                    <div class="w3-col m4 w3-hide-small">
                      <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-badge">2</span></span></p>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            <!-- END BLOG ENTRIES -->
            {{/each}}

<!-- END GRID -->
</div><br>

<!-- END w3-content -->
</div>

</body>
</html>
