<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WriteIstic</title>
   <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src='https://cdn.tiny.cloud/1/0gcvdbo1avfwob40pr373h4t9c5axvrp1cwc6ekhvua1lxok/tinymce/5/tinymce.min.js' referrerpolicy="origin"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
</head>
  <nav>
      <style scoped>
        @import "/static/css/navbar.css";
    </style>
    <div class="wrapper">
      <div class="logo"><a href="#">WriteIstic</a></div>
      <input type="radio" name="slider" id="menu-btn">
      <input type="radio" name="slider" id="close-btn">
      <ul class="nav-links">
        <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
        <li><a href="/">Home</a></li>
        <li><a href="/">About</a></li>
        <li>
  <!--   <a href="#" class="desktop-item">Dropdown Menu</a>
          <input type="checkbox" id="showDrop">
          <label for="showDrop" class="mobile-item">Dropdown Menu</label>
          <ul class="drop-menu">
            <li><a href="#">Drop menu 1</a></li>
            <li><a href="#">Drop menu 2</a></li>
            <li><a href="#">Drop menu 3</a></li>
            <li><a href="#">Drop menu 4</a></li>
          </ul>
        </li>                                         -->
        <li>
          <a href="/blog/list" class="desktop-item">Blogs</a>
          <input type="checkbox" id="showMega">
          <label for="showMega" class="mobile-item">Blogs</label>
          <div class="mega-box">
            <div class="content">
              <div class="row">
                 <img src="/static/images/menu.jpg" alt=""> 
              </div>
              <div class="row">
            {{!-- <header>Design Services</header> --}}
                <ul class="mega-links">
                  <li><a href="#">Travel</a></li>
                  <li><a href="#">Lifestyle</a></li>
                  <li><a href="#">Music</a></li>
                  <li><a href="#">Fashion</a></li>
                </ul>
              </div>
              <div class="row">
                {{!-- <header>Email Services</header> --}}
                <ul class="mega-links">
                  <li><a href="#">News</a></li>
                  <li><a href="#">Politics</a></li>
                  <li><a href="#">Fitness</a></li>
                  <li><a href="#">DIY</a></li>
                </ul>
              </div>
              <div class="row">
                {{!-- <header>Security services</header> --}}
                <ul class="mega-links">
                  <li><a href="#">Sports</a></li>
                  <li><a href="#">Bussiness</a></li>
                  <li><a href="#">Movies</a></li>
                  <li><a href="#">Gaming</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li><a href="#" onclick="document.getElementById('subscribe').style.display='block'">Write Here</a></li>
      </ul>
      <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
    </div>
  </nav>

<!-- Subscribe Modal -->
<div id="subscribe" class="w3-modal w3-animate-opacity">
  <div class="w3-modal-content" style="padding:32px">
    <div class="w3-container w3-white">
      <i onclick="document.getElementById('subscribe').style.display='none'" class="fa fa-remove w3-transparent w3-button w3-xlarge w3-right"></i>
      <h2 class="w3-wide">Share Your Thoughts With Us</h2>
      <p>The first step in blogging is not writing them but reading them.</p>
     <form action="/blog" method="POST">
      <p><input class="w3-input w3-border" name="full_name" type="text" placeholder="Author's Name" value="{{blog.full_name}}"></p>
      <p><input class="w3-input w3-border" name="post_title" type="text" placeholder="Post Title" value="{{blog.post_title}}"></p>
      <p><input class="w3-input w3-border" name="post_tags" type="text" placeholder="Post Tags" value="{{blog.post_tags}}"></p>
      <p><input class="w3-input w3-border" name="post_category" type="text" placeholder="Post Category" value="{{blog.post_category}}"></p>
      <p><textarea class="w3-input w3-border" name="blog_post" id="mytextarea" type="text" placeholder="Write Your Post Here" value="{{blog.blog_post}}"></textarea></p>
      <script>
        tinymce.init({
        selector: 'textarea',
        plugins: 'a11ychecker advcode casechange formatpainter linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tinycomments tinymcespellchecker',
        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image |export| a11ycheck spellchecker | code  permanentpen formatpainter table ",
        toolbar_mode: 'floating',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name',
        force_br_newlines : true,
        force_p_newlines : false,
        forced_root_block : '',
        });
     </script>
      <button type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Submit</button>
    </form>
   </div>
  </div>
</div>


  {{!-- <div class="body-text">
    <div class="title">Responsive Dropdown and Mega Menu</div>
    <div class="sub-title">using only HTML & CSS</div>
  </div> --}}

